/*================== bts ======================*/
button{
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.btn{
  display: flex;
	align-items: center;
	justify-content: center;
}

.btn-gray{
  font-family: $lora;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px; 
  text-transform: uppercase;
  color: #fff;
  background-color: #777777;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  display: block;
  transition: .3s;
  @media (hover:hover){
    &:hover{
      background-color: #373737;
    }
  }
}
.btn-light-gray-border{
  font-family: $lora;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px; 
  text-transform: uppercase;
  color: #242424;
  border: 1px solid #dfdfdf;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  display: block;
  transition: .3s;
  @media (hover:hover){
    &:hover{
      background-color: #DFDFDF;
    }
  }
}
.btn-gold{
  font-family: $lora;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px; 
  text-transform: uppercase;
  color: #fff;
  background-color: #C3935B;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
  display: block;
  transition: .3s;
  @media (hover:hover){
    &:hover{
      background-color: #644521;
    }
  }
}
.btn-light{
  font-family: $lora;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px; 
  text-transform: uppercase;
  color: #000;
  border: 1px solid #fff;
  padding: 10px 15px;
  background-color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 108px;
  transition: .4s;
  @media (hover:hover){
    &:hover{
      background-color: #000;
      color: #fff;
    }
  }
}
.btn-dark{
  font-family: $lora;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px; 
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 15px;
  background-color: #040404;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 108px;
  transition: .4s;
  @media (hover:hover){
    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
}

// btn loader
@keyframes loader {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
/*================== bts ======================*/
