@font-face {
    font-family: 'Marcellus';
    src: url('../fonts/Marcellus-Regular.eot');
    src: url('../fonts/Marcellus-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Marcellus-Regular.woff2') format('woff2'),
        url('../fonts/Marcellus-Regular.woff') format('woff'),
        url('../fonts/Marcellus-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Medium.eot');
  src: url('../fonts/Lora-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lora-Medium.woff2') format('woff2'),
      url('../fonts/Lora-Medium.woff') format('woff'),
      url('../fonts/Lora-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Italic.eot');
  src: url('../fonts/Lora-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lora-Italic.woff2') format('woff2'),
      url('../fonts/Lora-Italic.woff') format('woff'),
      url('../fonts/Lora-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-MediumItalic.eot');
  src: url('../fonts/Lora-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lora-MediumItalic.woff2') format('woff2'),
      url('../fonts/Lora-MediumItalic.woff') format('woff'),
      url('../fonts/Lora-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Bold.eot');
  src: url('../fonts/Lora-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lora-Bold.woff2') format('woff2'),
      url('../fonts/Lora-Bold.woff') format('woff'),
      url('../fonts/Lora-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.eot');
  src: url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lora-Regular.woff2') format('woff2'),
      url('../fonts/Lora-Regular.woff') format('woff'),
      url('../fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
